.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 460px;
  margin: auto;
  padding: 20px 0;
}

.login-title{
  margin: 0;
  font-weight: 700;
  font-size: 2.5rem;
  background: linear-gradient(90deg,#9A6BFF 0%,#58A6FF 50%, #9900DD 100%);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: initial;
}

.register-line{
  margin-top: 6px;
  font-size: 14px;
  color: var(--text-secondary);
}

.register-line a.ref-link{
  color: var(--text-secondary);
  text-decoration: none;
  margin-left: 8px;
  font-weight: 600;
}

.register-line a.ref-link:hover{
  text-decoration: underline;
}

.login-divider{
  width: 300px;
  height: 2px;
  background: var(--text-secondary);
  margin-bottom: 20px;
}

.login-field{
  background: white;
  border-radius: 4px;
  width: 100%;
}

.login-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.login-buttons .login-button{
  flex: 2;
  padding: 8px 0;
  background: #FFFFFF;
  color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-buttons .google-button{
  padding: 7px 18px;
  background: #FFFFFF;
  color: #1F1F1F;
  text-transform: none;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.login-buttons .google-button:hover, 
.login-buttons .login-button:hover{
  background-color: #F5F5F5;
}

